<div class="w-100">
  <div class="d-flex my-2">
    <div class="input-group-prepend">
      <span class="input-group-text">UserName</span>
    </div>
    <input [value]="profile().userName" class="form-control" disabled />
  </div>
  <div class="d-flex my-2">
    <div class="input-group-prepend">
      <span class="input-group-text">UserEMail</span>
    </div>
    <input [value]="profile().userEMail" class="form-control" disabled />
  </div>
  <div class="d-flex justify-content-end my-2">
    <button class="btn btn-primary" type="button" (click)="SignOut()">
      <fa-icon [icon]="icon" [size]="'xl'"></fa-icon>
      <span class="mx-2">登出</span>
    </button>
  </div>
</div>